<div class="w-full flex items-center justify-center">
  <div class="w-full max-w-md bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-blue-500 text-center text-3xl font-bold mb-6"><%= I18n.t("devise.forgot_password") %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="actions flex mt-5 items-center justify-center">
        <%= f.submit I18n.t("devise.send_confirmation_mail"), class: "primary-button text-xl rounded-lg px-3 py-1" %>
      </div>
    <% end %>

    <div class="flex justify-between mt-10">
      <%= link_to I18n.t("devise.login"), new_session_path(resource_name), class: "secondary-button px-3 py-1 rounded-lg text-sm" %>
      <%= link_to I18n.t("devise.signup"), new_registration_path(resource_name), class: "secondary-button px-3 py-1 rounded-lg text-sm" %>
    </div>
  </div>
</div>
